<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>게시글 목록</title>
</head>
<body>
<main>
	<h3>게시글 목록</h3>
	<table>
			<tr>
				<th>글번호</th><th>제목</th><th>작성자</th><th>게시일</th>
			</tr>
			<div th:each="board : ${list}">
				<tr>
					<td>[[${board.bnum}]]</td>
					<td>[[${board.btitle}]]</td>
					<td>[[${board.bauthor}]]</td>
					<td>[[${board.btime}]]</td>
				</tr>
			</div>
	</table>
	
	<button type='button' onclick='location.href="/board/addform"'>게시물 작성</button>
</main>
</body>
</html>